* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body, #root {
  background-color: #F7E1D7;
  height: 100%;
}

tr, td, th {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  text-align: center;
  padding: 5px;
}

tr > th, tr > td:first-child {
  border: none;
  background-color: #B6000F;
  color: #fff;
}

h1 {
  font-weight: 400;
}